.gtp3__CTA {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
  background: var(--gradient-bar);
  padding: 2rem;
  margin: 4rem;
}
.gtp3__CTA-container p {
  color: #0a0919;
  font-family: var(--font-family);
}
.gtp3__CTA-container h3 {
  font-family: var(--font-family);
  font-weight: 900;
  color: #0a0919;
}
.gpt3__CTA-btn {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}
.gpt3__CTA-btn button {
  padding: 7px 12px;
  border-radius: 40px;
  background: black;
  color: #fff;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .gtp3__CTA {
    display: flex;
    flex-direction: column;
  }
  .gtp3__CTA-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    /* text-align: center; */
  }
  .gtp3__CTA-container p {
    margin-bottom: 1rem;
  }
}
